.fileStructure {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
}

.nodeBranch { 
    font-size: 20px;
}

.childNode {
    margin-left: 20px;
}

.parentNode {
    cursor: pointer;
}

.file-item {
    position: relative;
    padding-left: 20px;
    img {
        position: absolute;
        width: 16px;
        left: 1px;
        top: 50%;
        transform: translateY(-50%);
    }
}