.context-window {
    position: absolute;
    width: 100%;
    max-width: 300px;
    background-color: #FFF;
    border: 1px solid #000;
    padding: 4px 3px;
    ul {
        padding-left: 0;
        list-style: none;
        margin: 5px 0;
    }
    li {
        padding: 2px 4px;
        margin-bottom: 1px;
    }
}

.new-file {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    input {
        width: 50%;
        flex-grow: 1;
        margin-right: 5px;
        font-size: 16px;
        padding: 4px 6px;
    }
    .tooltip {
        width: 100%;
    }
}
