.from-wrapper {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    margin-top: 8%;
}

.new-files {
    display: flex;
    flex-grow: 1;
    input {
        background-color: #FFF;
        border: 1px solid #CCC;
        border-radius: 2px;
        font-size: 16px;
        padding: 4px;
        margin-right: 15px;
        width: 100%;
    }
}