html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

button {
    font-size: 16px;
    padding: 4px 8px;
    border: 1px solid #357EBD;
    background-color: #428BCA;
    border-radius: 4px;
    color: #FFF;
    cursor: pointer;
}

.tooltip {
    color: #242729;
    font-size: 12px;
}

.tooltip-red {
    color: #f92672;
}